# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives covered in this notebook:** 
- Popular programming languages for Data Science
- Commonly used libraries by Data Scientists
- Open Source Development Environments 
- Anaconda, Jupyter Notebook, Jupyter Lite, Kernels
- GitLab and GitHub

#### Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. JavaScript
5. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. PyTorch
4. Pandas

| Data Science Tools |
----------------------
| R Studio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers 

a = 3
b = 4
c = 5
d = (a*b)+c
print(d)

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60

a = 200
b = 60
c = a/b
print("200 minutes is "+ str(c) + " hours.")

200 minutes is 3.3333333333333335 hours.

## Author 
Ali Demiralp